<header>
    <nav class="navbar navbar-dark bg-dark row d-flex justify-content-center">
        <h1 class="page_header text-white text-center">Eat Da Burger!</h1>
    </nav>
</header>
<div class="d-flex justify-content-center">
    <img src={{imageSource}}>
</div>
<div class="row">
    <div class="col-6 p-5">
        <ul class="list-group">
            {{#each burgers}}
            <li class="list-group-item d-flex justify-content-between">{{this.id}}. {{this.burger_name}}<button class="btn btn-primary devour" id={{this.id}}>Devour</button></li>
            {{/each}}
        </ul>
    </div>
    <div class="col-6 p-5">
        <ul class="list-group">
            {{#each devoured}}
            <li class="list-group-item d-flex justify-content-between">{{this.id}}. {{this.burger_name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
<div>
    <form class="d-flex align-items-center flex-column">
        <div>
            <label>Burger name:</label>
            <input id="name_input">
            <button id="add_button" class="btn btn-primary">Add burger</button>
        </div>
        <div><p class="tip">Enter a name of a burger you want to eat and click "Add burger" button</p></div>
    </form>
</div>
